:root {
    --primary: #f9bfff;
    --secondary: #90e9ff;
    --dark: rgb(224, 217, 217);
    --shadow: 2px 4px 8px rgba(243, 147, 253, 1);
    --corners: 4px;
}

body {
    background-color: var(--secondary);
}

header {
    margin: 3em 0;
}

.logo-container {
    width: 50%;
    margin: auto;
    filter: drop-shadow(var(--shadow));
}

main {
    width: 50%;
    margin: auto;
}

img {
    max-width: 100%
}

.balloon {
    height: 120px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}

.card {
    background-color: #f0ffff;
    padding: 1em;
    box-shadow: var(--shadow);
    border-radius: var(--corners);
}




.hidden {
    display: none !important;
}