:root {
    --primary: #f393fd;
    --dark: rgb(224, 217, 217);
    --shadow: rgba(230, 36, 36, 0.3);
}

body {
    background-color: var(--dark);
}

header {
    margin: 3em 0;
}

.logo-container {
    width: 50%;
    margin: auto;
    filter: drop-shadow(2px, 0, 8px, var(--shadow));
}

img {
    max-width: 100%
}

.balloon {
    height: 120px;
    width: 100px;
    background-color: red;
    border-radius: 75%;
}

.card {
    background-color: #f0ffff;
    padding: 1em;
    box-shadow: 2px 0 8px var(--shadow);
}




.hidden {
    display: none !important;
}