:root {
    --primary: #f9bfff;
    --primary-darken: #c12cff;
    --bg: #90e9ff;
    --dark: rgb(34, 34, 34);
    --shadow: 2px 4px 8px rgba(243, 147, 253, 1);
    --corners: 4px;
    --text-color: #080808;
    --light: #fdfdfd;

}

body {
    background-color: var(--bg);
    font-family: 'Finger Paint', cursive;
    font-size: 16pt;
    color: var(--text-color);
}

header {
    margin: 3em 0;
}

img {
    max-width: 100%
}

form {
    margin: 0;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    font-size: 14pt;
    font-family: 'Finger Paint', cursive;
}

button {
    background-color: var(--primary);
    color: var(--text-color);
    font-family: 'Finger Paint', cursive;
    border: 1px solid var(--primary-darken);
    border-radius: var(--corners);
    box-shadow: var(--shadow);
    text-transform: uppercase;
    transition: all .2s ease;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-darken);
}

.balloon {
    height: 120px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    transition: all 0.2 ease;
}

.container {
    width: 50%;
    margin: auto;
}

.card {
    background-color: var(--light);
    padding: 1em;
    box-shadow: var(--shadow);
    border-radius: var(--corners);
}

.shadow {
    filter: drop-shadow(var(--shadow));
}

.bg-dark {
    background-color: var(--dark);
}

.text-light {
    color: var(--light)
}

.d-flex {
    display: flex;
}

.d-flex.space-between {
    justify-content: space-between;
}

.hidden {
    display: none !important;
}